@model ProyectoTiquiciaRecicla.Models.TBL_Usuario

@{
    ViewData["Title"] = "Inicio Sesion";
    ViewBag.ShowSidebar = false;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
        body {
            /* Establece la imagen de fondo */
            background-image: url('/Iconos/FondoRegistroSesion.png'); /* Ruta relativa a la carpeta raíz del proyecto */
            /* Establece el tamaño de la imagen de fondo */
            background-size: cover;
            /* Establece la posición de la imagen de fondo */
            background-position: center;
            /* Establece que la imagen de fondo no se repita */
            background-repeat: no-repeat;
            /* Ajusta el tamaño del contenido para evitar desbordamientos */
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>

    <style>
        .div-centrado {
            width: 500px; /* ajusta el ancho según sea necesario */
            margin-left: 300px;
            margin-right: 100px;
            text-align: center; /* opcional: para centrar el contenido dentro del div */
            margin-top: 70px;
        }
    </style>
    <style>
        .div-centrado {
            width: 500px; /* ajusta el ancho según sea necesario */
            margin-left: 300px;
            margin-right: 100px;
            padding: 60px; /* agregar relleno */
            text-align: center; /* opcional: para centrar el contenido dentro del div */
            margin-top: 60px;
        }
    </style>
</head>
<body>

    <div class="col-md-4">
        <div class="div-centrado" style="background-color: rgba(255, 255, 255, 0.8);">
            <form asp-action="Inicio_Sesion">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h1>Iniciar sesión</h1>
                <hr />

                <div class="form-group">
                    <label asp-for="CH_Correo" class="control-label"></label>
                    <input asp-for="CH_Correo" class="form-control" style="width=300px" />
                    <span asp-validation-for="CH_Correo" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CH_Clave" class="control-label"></label>
                    <input asp-for="CH_Clave" class="form-control" />
                    <span asp-validation-for="CH_Clave" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Iniciar" class="btn btn-primary" />
                </div>

                <div>
                    <a asp-action="Registro">Registrarse</a>
                </div>

                <div>
                    <a asp-controller="Home" asp-action="Index">Inicio</a>
                </div>
            </form>
        </div>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }

</body>
</html>