
<a class="nav-link text-dark" id="register" href="@Url.Action("Registro", "Sesion", new { area = "Identity" })">
    <i class="bi bi-person-fill-lock"></i> Registrarse
</a>

<a class="nav-link text-dark" id="login" href="@Url.Action("Inicio_Sesion", "Sesion", new { area = "Identity" })">
    <i class="bi bi-person-fill-lock"></i> Iniciar sesión
</a>



