

<a class="nav-link text-dark" id="register" ><i class="bi bi-person-lines-fill"></i> Registrarse</a>

 <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login"><i class="bi bi-person-fill-lock"></i> Iniciar sesion</a>

   
