<footer class="border-top footer text-muted">
    <div class="container ">
        <i class="bi bi-facebook"> <i class="bi bi-instagram"></i> </i> <i class="bi bi-whatsapp"></i>


        &copy; 2024 - Proyecto Tiquicia Recicla - <a asp-area="" asp-controller="Home" asp-action="Privacidad">Privacidad</a>
    </div>
    
</footer>