@model ProyectoTiquiciaRecicla.Models.CAT_Provincia

@{
    ViewData["Title"] = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mx-0">
<br />
    <h3><a asp-action="Mantenimiento" class="btn-outline-primary"><i class="bi bi-chevron-left mx-2 "></i></a><i class="bi bi-signpost"></i> Nueva provincia</h3>
<hr />
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Crear">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CH_Nombre" class="control-label"></label>
                <input type="password" asp-for="CH_Nombre" class="form-control" />
                <span asp-validation-for="CH_Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


