@model ProyectoTiquiciaRecicla.Models.TBL_Zona_de_Recolecta

@{
    ViewData["Title"] = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mx-0">
    <br />
    <h3><a asp-action="Mantenimiento" class="btn-outline-primary"><i class="bi bi-chevron-left mx-2 "></i></a><i class="bi bi-pin-map"></i> Nueva Zona de recolecta</h3>
    <hr />
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Crear">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CH_Direccion" class="control-label"></label>
                <input asp-for="CH_Direccion" class="form-control" />
                <span asp-validation-for="CH_Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DEC_Latitud" class="control-label"></label>
                <input asp-for="DEC_Latitud" class="form-control" />
                <span asp-validation-for="DEC_Latitud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DEC_Longitud" class="control-label"></label>
                <input asp-for="DEC_Longitud" class="form-control" />
                <span asp-validation-for="DEC_Longitud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DTI_Inicio" class="control-label"></label>
                <input asp-for="DTI_Inicio" class="form-control" />
                <span asp-validation-for="DTI_Inicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DTI_Fin" class="control-label"></label>
                <input asp-for="DTI_Fin" class="form-control" />
                <span asp-validation-for="DTI_Fin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CH_Horario" class="control-label"></label>
                <input asp-for="CH_Horario" class="form-control" />
                <span asp-validation-for="CH_Horario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CAT_Centro_De_AcopioId" class="control-label"></label>
                <select asp-for="CAT_Centro_De_AcopioId" class ="form-control" asp-items="ViewBag.CAT_Centro_De_AcopioId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



