@{
    ViewData["Title"] = "Inicio";
    // Obteniendo el Id del usuario de ViewData
    int usuarioId = (int)ViewData["UsuarioId"];
    if(usuarioId == 0){
        ViewBag.ShowSidebar = false;
    }else{
        ViewBag.ShowSidebar = true;
    }
}

@*--!agregar cambios de index--!*@
<div class="container-fluid text-center bg-white text-black p-5 border-0">
    <h1 class=" display-5 text-center" style="margin-top:100px">Bienvenido a Tiquicia Recicla</h1>
    <p class="lead text-center">Hagamos un mundo mejor cada día</p>
</div>


<div class="card-center">
    <br>
    <br>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <div class="card-body text-center">
                    <img class="w-50" src="https://s3.getstickerpack.com/storage/uploads/sticker-pack/direccion-de-medio-ambiente/sticker_8.png?072653f0cbeed4442974a135d5acd189&d=200x200" alt="...">
                    <br>
                    <br>
                    <h5 class="card-title">Reciclar</h5>
                    <p class="card-text lead">Convertir materiales usados o residuos en nuevos productos, materiales o formas de energía. El reciclaje ayuda a reducir la cantidad de desechos que van a vertederos, conserva recursos naturales y reduce la contaminación.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body text-center">
                    <img class="w-50" src="https://s3.getstickerpack.com/storage/uploads/sticker-pack/direccion-de-medio-ambiente/sticker_8.png?072653f0cbeed4442974a135d5acd189&d=200x200" alt="...">
                    <br>
                    <br>
                    <h5 class="card-title">Reutilizar</h5>
                    <p class="card-text lead">Aplicar el uso repetido de productos o materiales en su forma original, con mínimas modificaciones. Lo que incluye, la reparación de objetos en lugar de desecharlos, la donación de artículos que aún son útiles.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body text-center">
                    <img class="w-50" src="https://s3.getstickerpack.com/storage/uploads/sticker-pack/direccion-de-medio-ambiente/sticker_8.png?072653f0cbeed4442974a135d5acd189&d=200x200" alt="...">
                    <br>
                    <br>
                    <h5 class="card-title">Reducir</h5>
                    <p class="card-text lead">
                        Minimizar la cantidad de residuos generados, lo que implica consumir de manera más consciente, evitar el uso de productos de un solo uso, comprar productos duraderos y preferir aquellos que tengan menos embalaje.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>

<h1 class="display-5 text-center">¿Cómo surge Tiquicia Recicla?</h1>
<br>
<p class="lead text-center">
    Tiquicia Recicla surge debido a la necesidad de promover el reciclaje y la sostenibilidad ambiental en la comunidad de San José, Costa Rica. Gracias a esta plataforma encontrarás información accesible de cómo y qué puede reciclar, recursos prácticos y oportunidades de participación en iniciativas ambientales locales.
</p>
<br>
<br>
<br>
<br>
<br>


<h1 class="display-5 text-center">Objetivo de Tiquicia Recicla</h1>
<p class="lead text-center">
    El objetivo de Tiquicia Recicla es proveer una herramienta para que las personas se motiven a reciclar y encuentren fácilmente puntos de acopio accesibles donde puedan dejar sus productos de reciclaje.
</p>
<br>
<br>
<br>
<br>
<br>


<div class="container-fluid mb-1 text-black text-center p-5" style="background-color: #90B327";>
    <h1 class="display-5" style="margin-top: 50px; margin-bottom: 50px;">Sobre nosotros</h1>
</div>
<br>
<br>
<br>


<div class="row row-cols-1 row-cols-md-2 g-4 mb-25">
    <div class="col mt-25">
        <div class="card h-100">
            <div class="card-body text-center">
            <img class="w-25" src="https://aseca.com/wp-content/uploads/2020/06/Todo-reciclaje.png" class="card-img-top" alt="...">
                <br>
                <br>
                <h5 class="card-title text-center">Misión</h5>
                <p class="lead text-center">
                    Nuestra misión es desarrollar una aplicación web y móvil innovadora, utilizando metodologías ágiles como SCRUM y tecnologías modernas como React, que simplifique y optimice el proceso de reciclaje en San José, Costa Rica.
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body text-center">
            <img class="w-25" src="https://aseca.com/wp-content/uploads/2020/06/Todo-reciclaje.png" class="card-img-top" alt="...">
                <br>
                <br>
                <h5 class="card-title text-center">Visión</h5>
                <p class="lead text-center">
                    Ser la plataforma líder en Costa Rica para fomentar y facilitar el proceso de reducción, reutilización y reciclaje de materiales, contribuyendo significativamente a la conservación del medio ambiente y promoviendo una cultura de sostenibilidad en la sociedad.
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body text-center">
            <img class="w-25" src="https://aseca.com/wp-content/uploads/2020/06/Todo-reciclaje.png" class="card-img-top" alt="...">
                <br>
                <br>
                <h5 class="card-title text-center">Valores</h5>
                <p class="lead">
                    <li class="lead">Sostenibilidad: Compromiso con prácticas que protejan los recursos naturales. </li>
                    <li class="lead">Innovación: Busqueda constante de mejoras utilizando tecnologías modernas.</li>
                    <li class="lead">Responsabilidad: Reconocimiento del impacto de nuestras acciones y toma de medidas para minimizarlo.</li>
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body text-center">
            <img class="w-25" src="https://aseca.com/wp-content/uploads/2020/06/Todo-reciclaje.png" class="card-img-top" alt="...">
                <br>
                <br>
                <h5 class="card-title text-center">Próposito</h5>
                <p class="lead text-center">
                    Nos comprometemos a proporcionar una plataforma intuitiva, accesible y educativa que empodere a los ciudadanos, empresas y entidades gubernamentales para que puedan participar activamente en la protección del medio ambiente a través del reciclaje.
                </p>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<div class="container-fluid mb-1 text-black text-center p-5" style="background-color: #90B327";>
    <h5 class="display-5" style="margin-top: 50px; margin-bottom: 50px;">Contáctanos</h5>
    <p class="lead text-center text-black">Tiquicia Recicla - Costa Rica</p>
    <p class="lead text-center text-black">Teléfono: 2560 6231</p>
    <br>
</div>

