@{
    ViewData["Title"] = "Inicio";
}
@*--!agregar cambios de index--!*@
<div class="card-center">
    <br>
    <br>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <div class="card-body text-center">
                    <img class="w-50" src="https://s3.getstickerpack.com/storage/uploads/sticker-pack/direccion-de-medio-ambiente/sticker_8.png?072653f0cbeed4442974a135d5acd189&d=200x200" alt="...">
                    <br>
                    <br>
                    <h5 class="card-title">Reducir</h5>
                    <p class="card-text lead">Minimizar la cantidad de residuos generados, lo que implica consumir de manera más consciente, evitar el uso de productos de un solo uso, comprar productos duraderos y preferir aquellos que tengan menos embalaje.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body text-center">
                    <img class="w-50" src="https://s3.getstickerpack.com/storage/uploads/sticker-pack/direccion-de-medio-ambiente/sticker_8.png?072653f0cbeed4442974a135d5acd189&d=200x200" alt="...">
                    <br>
                    <br>
                    <h5 class="card-title">Reutilizar</h5>
                    <p class="card-text lead">Aplicar el uso repetido de productos o materiales en su forma original, con mínimas modificaciones. Lo que incluye, la reparación de objetos en lugar de desecharlos, la donación de artículos que aún son útiles.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body text-center">
                    <img class="w-50" src="https://s3.getstickerpack.com/storage/uploads/sticker-pack/direccion-de-medio-ambiente/sticker_8.png?072653f0cbeed4442974a135d5acd189&d=200x200" alt="...">
                    <br>
                    <br>
                    <h5 class="card-title">Reciclar</h5>
                    <p class="card-text lead">Convertir materiales usados o residuos en nuevos productos, materiales o formas de energía. El reciclaje ayuda a reducir la cantidad de desechos que van a vertederos, conserva recursos naturales y reduce la contaminación. </p>
                </div>
            </div>
        </div>
    </div>
</div>
