@model ProyectoTiquiciaRecicla.Models.CAT_Empresa_Recolectora

@{
    ViewData["Title"] = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mx-0">
    <br />
    <h3><a asp-action="Mantenimiento" class="btn-outline-primary"><i class="bi bi-chevron-left mx-2 "></i></a><i class="bi bi-truck"></i> Nueva empresa recolectora</h3>
    <hr />
</div>
<div class="row">
    <div class="col-md-4 flex-column">
        <form asp-action="Crear">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CH_Nombre" class="control-label"></label>
                <input asp-for="CH_Nombre" class="form-control" />
                <span asp-validation-for="CH_Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CH_Direccion" class="control-label"></label>
                <input asp-for="CH_Direccion" class="form-control" />
                <span asp-validation-for="CH_Direccion" class="text-danger"></span>
            </div>
            
            <div class="form-group">               
                <label asp-for="DEC_Latitud" class="control-label"></label>
                <br />
                <label>Separar el dato con una coma</label>
                <input asp-for="DEC_Latitud" class="form-control" />
                <span asp-validation-for="DEC_Latitud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DEC_Longitud" class="control-label"></label>
                <br />
                <label>Separar el dato con una coma</label>
                <input asp-for="DEC_Longitud" class="form-control" />
                <span asp-validation-for="DEC_Longitud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CH_Horario" class="control-label"></label>
                <input asp-for="CH_Horario" class="form-control" />
                <span asp-validation-for="CH_Horario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CH_Telefono" class="control-label"></label>
                <input asp-for="CH_Telefono" class="form-control" />
                <span asp-validation-for="CH_Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CH_Correo_Electronico" class="control-label"></label>
                <input asp-for="CH_Correo_Electronico" class="form-control" />
                <span asp-validation-for="CH_Correo_Electronico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
